body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;

}


/*header*/
.header {
    font-family: "Bungee Inline";
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8b4513;
    height: 80px;
    width: calc(100% - 20px);
    padding: 0 10px 0 10px;
}

.subheader {
    background-color: #f1a536;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50%;
}

.logo img {
    height: 100%;
}

.links {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    background-color: #8b4513;
}

a {
    text-decoration: none;
    color: #000000;
}

nav a {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    color: #f1a536;
}

.active {
    background-color: #f1a536;
}


/*main content*/
.hero-img {
    height: 500px;
    background-image: url("../images/burger-hero.jpg");
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
}

.content {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.jumboButtons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.jumboButtons div {
    display: flex;
    justify-content: center;
    width: 33%;
    padding: 10px;
    margin: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #f1a536;
}

.jumboButtons a:hover, .active:hover {
    color: #ffffff!important;
}

.specialText {
    font-family: "Bungee Inline";
    font-weight: lighter;
}

.blurbContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: calc(100% - 10px);
}

.inner {
    display: flex;
    width: 100%;
}

.blurb {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.column {
    width: 50%;
}


/*footer*/
.footer {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .links {
    width: 100%;
}

.subLogo img {
    height: 80px;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    padding-bottom: 20px;
    background-color: #8b4513;
}

#social {
    font-size: 3em;
    width: 300px;
    display: flex;
    justify-content: center;
}

#social a {
    padding: 10px;
}

.formCont {
    display: flex;
    align-content: center;
    width: 300px;
}

#subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.footerForm {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 2px;
}

#subscribe div:nth-of-type(4) {
    flex-direction: row-reverse;
}
#submit {
    justify-content: center;
    width: 30%;
}